<!DOCTYPE html>
<html lang="es" ng-app="miApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Géneros - Sinfonía Urbana</title>

    <link rel="stylesheet" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/genero_app.js"></script>
    <script src="js/login_reutilizable.js"></script>

</head>

<body>

    <login-widget></login-widget>

    <div ng-controller="GeneroController" ng-init="cargarGeneros()">

        <header>
            <h1>Sinfonía Urbana</h1>
            <nav>
                <ul>
                    <li><a href="./artistas.html">Artistas</a></li>
                    <li><a href="./albumes.html">Álbumes</a></li>
                    <li><a href="./canciones.html">Canciones</a></li>
                    <li><a href="./top.html">Top global</a></li>
                    <li><a href="./novedades.html">Novedades</a></li>
                    <li><a href="./generos.html" class="active">Géneros</a></li>
                </ul>
            </nav>
        </header>

        <main class="contenedor-principal">
            <section class="filtros-generos">

                <select ng-model="generoSeleccionado"
                    ng-options="genero as genero.nombre for genero in generos track by genero.id"
                    ng-change="filtrarPorGenero()">
                    <option value="">Selecciona un género</option>
                </select>

                <select ng-model="tipoResultado" ng-change="filtrarPorGenero()">
                    <option value="todo">Mostrar todo</option>
                    <option value="artistas">Artistas</option>
                    <option value="albumes">Álbumes</option>
                </select>

            </section>

            <section class="mensajes">
                <p class="mensaje" ng-if="mensaje">{{ mensaje }}</p>

                <h2 class="titulo-albumes" ng-if="!generoSeleccionado">
                    Géneros
                </h2>

                <h2 class="titulo-albumes" ng-if="generoSeleccionado">
                    Género: {{ generoSeleccionado.nombre }}
                </h2>

                <h4 class="titulo-canciones" ng-if="!generoSeleccionado">
                    Selecciona un género para ver artistas y/o álbumes relacionados
                </h4>

                <hr>
            </section>

            <section ng-if="artistas.length > 0 && (tipoResultado === 'todo' || tipoResultado === 'artistas')">

                <section class="resultados">

                    <div class="tarjeta-artista" ng-repeat="artista in artistas track by artista.id"
                        ng-click="verArtista(artista.id)">

                        <img ng-src="http://localhost:8085/api/artistas/{{ artista.id }}/imagen"
                            alt="{{ artista.nombre }}">

                        <h3>{{ artista.nombre }}</h3>
                        <p><strong>País:</strong> {{ artista.pais }}</p>
                        <p><strong>Oyentes mensuales:</strong> {{ artista.oyentesMensuales }}</p>

                    </div>

                </section>
            </section>

            <section ng-if="albumes.length > 0 && (tipoResultado === 'todo' || tipoResultado === 'albumes')">

                <section class="resultados-albumes">

                    <div class="tarjeta-album" ng-repeat="album in albumes track by album.id"
                        ng-click="abrirAlbumSpotify(album)">

                        <div class="vinilo-wrapper">
                            <div class="disco"></div>

                            <div class="funda">
                                <img ng-src="http://localhost:8085/api/albumes/{{ album.id }}/imagen"
                                    alt="{{ album.titulo }}">
                            </div>
                        </div>

                        <h3>{{ album.titulo }}</h3>

                        <button class="btn-artista" ng-click="$event.stopPropagation(); verArtista(album.idArtista)">
                            Más sobre {{ album.nombreArtista }}
                        </button>

                    </div>

                </section>
            </section>

            <section
                ng-if="generoSeleccionado && artistas.length === 0 && albumes.length === 0 && !cargando && !mensaje">
                <p>No hay resultados para este filtro.</p>
            </section>
            <br>
        </main>
        <footer>
            <div class="footer-content">
                <div>
                    <h3>Proyecto</h3>
                    <hr>
                    <p>Sinfonía Urbana</p>
                </div>

                <div>
                    <h3>Contacto</h3>
                    <hr>
                    <p>yaiza5arias@gmail.com</p>
                    <p>cristinalopezdelapuente@gmail.com</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>