<!DOCTYPE html>
<html lang="es" ng-app="miApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novedades - Sinfonía Urbana</title>

    <link rel="stylesheet" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    
    <script src="js/i18n.js"></script>
    <script src="js/album_app.js"></script>
    <script src="js/login_reutilizable.js"></script>

</head>

<body>

    <login-widget></login-widget>
    
    <div ng-controller="AlbumController" ng-init="cargarNovedades()">

        <header>
            <h1>{{ t.tituloApp }}</h1>

            <button class="btn-menu-movil" ng-click="menuMovilAbierto = !menuMovilAbierto">
                ☰
            </button>

            <nav ng-class="{ 'nav-abierto': menuMovilAbierto }">
                <ul>
                    <li><a href="./artistas.html">{{ t.menuArtistas }}</a></li>
                    <li><a href="./albumes.html">{{ t.menuAlbumes }}</a></li>
                    <li><a href="./canciones.html">{{ t.menuCanciones }}</a></li>
                    <li><a href="./top.html">{{ t.menuTop }}</a></li>
                    <li><a href="./novedades.html" class="active">{{ t.menuNovedades }}</a></li>
                    <li><a href="./generos.html">{{ t.menuGeneros }}</a></li>
                </ul>
            </nav>
        </header>

        <main class="contenedor-principal">
            <section class="busqueda">
                <input type="text" ng-model="busqueda" placeholder="{{ t.placeholderAlbumes }}"
                    ng-keypress="$event.which === 13 && buscarAlbumes()">
                <button ng-click="buscarAlbumes()">{{ t.buscar }}</button>
            </section>

            <section class="mensajes">
                <p class="mensaje" ng-if="mensaje">{{ mensaje }}</p>
                <h2 class="titulo-canciones">{{ t.tituloNovedades }}</h2>
                <h4 class="titulo-canciones">{{ t.subtituloNovedades }}</h4>
                <hr>
            </section>

            <section class="resultados-albumes" ng-if="albumes.length > 0">

                <div class="tarjeta-album" ng-repeat="album in albumes track by album.id"
                    ng-click="abrirAlbumSpotify(album)">

                    <div class="vinilo-wrapper">
                        <div class="disco"></div>
                        <div class="funda">
                            <img ng-src="http://localhost:8085/api/albumes/{{ album.id }}/imagen"
                                alt="{{ album.titulo }}">
                        </div>
                    </div>


                    <h3>{{ album.titulo }}</h3>

                    <p class="fecha-lanzamiento">
                        {{ t.estreno }} {{ album.ano | date:'dd/MM/yyyy'}}
                    </p>

                    <button class="btn-artista" ng-click="$event.stopPropagation(); verArtista(album.idArtista)">
                        {{ t.masSobre }} {{ album.nombreArtista }}
                    </button>
                </div>
            </section>

            <section ng-if="albumes.length === 0 && !cargando && !mensaje">
                <p>No hay albumes para mostrar.</p>
            </section>
            <br>
        </main>
        <footer>
            <div class="footer-content">
                <div>
                    <h3>{{ t.proyecto }}</h3>
                    <hr>
                    <p>{{ t.tituloApp }}</p>
                </div>

                <div>
                    <h3>{{ t.contacto }}</h3>
                    <hr>
                    <p>yaiza5arias@gmail.com</p>
                    <p>cristinalopezdelapuente@gmail.com</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>